body {
  background-color: #db7777;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  color: blue;
}

h2 {
  color: rgb(125, 220, 125);
  font-size: 34px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 4px solid white;
  border-radius: 14px 0 14px 0;
  padding: 0px 30px;
  text-align: center;
  margin: 40px;
}
div {
  background-color: gray;
  padding: 30px;
  border: none;
  border-radius: 30px;
}
p {
  color: white;
}
p#one {
  color: red;
}
p.same {
  color: blue;
}

div {
  width: 200px;
}
